


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    margin: 0;
    background-color: rgb(83, 87, 32);
    
   
}

.board {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    border-top: 25px solid rgb(12, 12, 12);
    background-color: rgb(83, 87, 32);
}

.cell {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
 border-left: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
    border-right: none;
}

button{
    font-family: brush script mt, cursive;
    font-weight: 500;
    width: 200px;
    z-index: 0;
    background-color: rgb(83, 87, 35);
    width: 100vw;
    height: 2vw;
    border: 0;
    font-size: 40px;
}

button:hover {
    background-color: rgb(63, 66, 27);
    cursor: pointer;
}

button:active {
    background-color: rgb(101, 105, 50);
}